/* GENERAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

main{
  padding: 160px, 460px;
  text-align: center;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
  }

.btn{
  background-color: white;
  color: black;
  padding: 5px 15px;
  font-size: .8rem;
  text-decoration: none;
}

.btn.colored{
  background-color: #1163FF;
  color: white;
}

.debug{
  border: 1px solid black;
  background-color: rgba(255, 0, 0, 0.2);
}

/* HEADER */

header{
  z-index: 999;
  /* position: fixed; */
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  justify-content: space-between;
}

header .menu{
  display: flex;
  font-size: 0.8rem;
}

header .menu.left{
  display: flex;
}

header .menu ul{
  list-style: none;
  display: flex;
  padding-top: 5px;
}

header .menu ul li{
  margin: 0 16px;
 }

/* JUMBOTRON */

.container{
  width: 100%;
  display: flex;
  height: 735px ;
  margin: 50px 0;
}

.jumbotron{
  height: 100%;
}

.jumbotron.text{
  width: 30%;
  margin-left: 100px;
}

.jumbotron.img{
  width: 70%;
  margin-right: 100px;
}

/* CARDS */

.container-2{
  max-width: 1200px;
  display: inline-block;
  margin: 50px 0;
}

.feature{
  width: 300px;
  display: inline-block;
  margin: auto;
}

.box1,.box2{
  margin-right: 48px;
}

.row{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row-2{
  width: 100%;
  margin: 0 auto;
}

/* section .container-2{
  display: flex;
} */

section .container-2 .image{
  width: 60%;
  float:left;
}

section .container-2 .text{
  width: 40%;
  float: right;
}

.col{
  float: left;
  width: calc(100% / 3);
  min-width: 344px;
  padding:0 16px;
  margin-bottom: 50px;
}

.card{
  display: inline-block;
  height: 550px;
  margin: 50px 20px;
}

img{
  max-width: 300px;
}

.element-text{
  text-align: left;
}

/* FOOTER */

footer{
  background-color:aquamarine;
  /* color: #EFF2FC; */
  padding-top: 60px;
}

.footer-menu{
  display: flex;
  /* justify-content: space-between; */
  padding-bottom: 30px;
  border-bottom: 1px solid #323540;
}

.menu2{
  width: calc(100% / 5);
}

.footer-menu .menu2 ul{
  list-style: none;
}