/* GENERAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Khula', sans-serif;
}

main{
  padding-top: 80px;
  text-align: center;
  background-color: white;
  position:relative;
  width: 100%;
}

h1{
  font-weight: 800;
}

h2{
  font-size: 34px;
}

h4 {
  font-size: 20px;
  padding-bottom: 20px;
}

h6{
  font-size: 14px;

}

p{
  font-size: 1rem;
  margin-bottom: 20px;
  line-height: normal;
  font-weight: 300;
}

hr{
  border-bottom: 1px solid #DEDEE0;
  width: 50px;
  margin: 40px 0;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
  }

.btn{
  background-color: white;
  color: black;
  padding: 12px 15px;
  font-size: .8rem;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border: 1px solid black;
  width: fit-content;
  align-items: baseline;
}

.btn.colored{
  background-color: #1163FF;
  color: white;
  border: none;
}

.btn.colored.big{
  width: 220px;
  justify-content: center;
}

ul{
  list-style: none;
  font-weight: 300;
}

.debug{
  border: 1px solid black;
  background-color: rgba(255, 0, 0, 0.2);
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  }
  

/* HEADER */

header{
  z-index: 999;
  position: fixed;
  display: flex;
  align-items: baseline;
  height: 80px;
  width: 100%;
  justify-content: space-between;
}

header .menu{
  display: flex;
  font-size: 1rem;
  padding: 12px 15px;
}

header .menu.left{
  display: flex;
  align-items: baseline;
}

header .menu.right{
  align-items: baseline;
}

header .menu ul{
  list-style: none;
  display: flex;
}

header .menu ul li{
  margin: 0 16px;
  padding: 12px;
  width: auto;
 }

 header .menu ul li:hover{
  border-bottom: 3px solid black;
  padding-bottom: 20px;
 }

/* JUMBOTRON */

.jumbotron{
  background-color: #B4D0E7;
  display: inline-block;
  width: 100%;
  /* max-width: 100%; */
  margin-bottom: 100px;
  padding-bottom: 420px;
}

.title{
  font-size: 3rem;
  text-align: left;
  padding: 100px 400px 46px 300px;
}

.jumbotron .content{
  display: flex;
  padding-left: 300px;
  position:absolute;
  width: 100%;
}

.jumbotron .content .text{
  width: 30%;
  text-align: left;
  float:left;
}

.jumbotron .content .text p{
  font-size: 1rem;
  margin-bottom: 20px;
}

.jumbotron .content .text button{
  margin-bottom: 20px;
}

.jumbotron .content .text i{
 font-size: 50px; 
}

.jumbotron .content .img{
  width: 70%;
  margin-right: 300px;
  float:right;
  position: relative;
  left:0;
}

.jumbotron .content .img .proposta{
  height: 465px;
  /* padding-bottom: 10px; */
}

/* CARDS */

.container{
  width: 60%;
  max-width: 1200px;
  display: inline-block;
  margin: 40px auto;
}

.container h2{
  text-align: left;
  padding: 20px 0;
}

.select{
  text-align: left;
  margin: 20px 0;
}

input[type="radio"]{
  margin: 0 10px 0 10px;
}
.row{
  margin: 0 auto;
  font-size: 0.9rem;
  display: flex;
  float: left;
  max-width: 1000px;
}

.feature{
  width: (100%/3);
  max-width: calc(100%/3);
  justify-content: center;
  text-align: left;
  line-height: 30px;
  border: 1px solid black;
  margin-bottom: 40px;
}

.feature-body{
  padding-left: 25px;
  padding-right: 25px;
}

.box1,.box2{
  margin-right: 48px;
}

.feature .type,.feature-2 .type{
  border-bottom: 1px solid black;
  text-align: center;
  line-height: 36px;
  margin-bottom: 36px;
}

.prezzo{
  font-weight: 600;
}

.feature .prezzo.indicato::before{
  font-family: 'Font Awesome\ 5 Free';
  content:"\f153";
  margin-right: 5px;
}

.fa-ul{
  margin-left: 1rem;
}

.feature li{
  line-height: normal;
  margin:20px 0px;
}

.feature .single::before{
  font-family: 'Font Awesome\ 5 Free';
  content:"\f007";
  margin-right: 5px;
}

.feature .team::before{
  font-family: 'Font Awesome\ 5 Free';
  content:"\f0c0";
  margin-right: 5px;
  }

.enterprise::before{
  font-family: 'Font Awesome\ 5 Free';
  content:"\f1ad";
  margin-right: 5px;
  }

.feature .btn{
  margin: 20px auto;
  display: grid;
}

.feature .fa-check{
  color: #0055FF;
}

.row-2{
  width: 100%;
  /* min-width: 100%; */
  font-size: 0.9rem;
  display: flex;
  max-width: 1000px;
}

.feature-2{
  text-align: left;
  justify-content: center;
  border: 1px solid black;
  padding-bottom: 30px;
}

.box4{
  display: flex;
  justify-content: space-between;
  line-height: 30px;
}

.feature-body .description{
  margin-right: 350px;
  padding-top: 50px;
}

/* SECTION CARDS PART 2 */

.container-2{
  width: 60%;
  display: flex;
  align-items: center;
  margin: 40px auto;
}

section .container-2 .image{
  width: 60%;
  float:left;
  text-align: left;
}

section .container-2 .text{
  width: 40%;
  float: right;
  text-align: left;
  padding:50px
}


.container-2 img{
  max-width: 600px;
}

/* SECTION COLONNE */

.row-3{
  margin: 0;
  font-size: 0.9rem;
  display: flex;
  float: left;
  /* max-width: 1000px; */
}

.col{
  float: left;
  width: calc(100% / 3);
}

.card{
  display: inline-block;
  height: 500px;
}

.col.one, .col.two{
  margin-right: 48px;
}

.card img{
  max-height: 230px;
  padding: 10px
}

.card .description{
  text-align: left;
  padding: 10px 0;
}

/* CUSTOMERS */

.bottom{
  margin: 40px 0;
}

.customers{
  width: 60%;
  margin: auto;
  text-align: left;
}

.customers h2{
  padding: 50px 0;
  width: 50%;
}

.marchio{
  width: 100%;
  margin-top: 150px;
}

.row-marchio{
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.col-marchio{
  /* float: left; */
  width: calc(100%/3);
  display: flex;
  justify-content: space-between;
}

.col-marchio.big{
  justify-content: center;
  align-items: center;
}

.card-marchio{
  width: calc(100%/2);
  display: inline-block;
  min-height: 320px;
  min-width: 320px;
  position: relative;
  /* justify-content: center;
  vertical-align: center; */
  margin: auto;
}

.card-marchio.big{
  justify-content: center;
  background-color: #F5F5F5;
  width: 100%;
  align-items: stretch;
  position: relative;
  display: block;
  overflow: hidden;
  text-align: left;
}

.card-marchio img{
  filter: invert(100%);
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-marchio.big img{
  filter: none;
  width: 50%;
  position: absolute;
  top: 20%;
  left: 30%;
}

.card-marchio.big .testimonial{
  position: absolute;
  bottom: 0;
  text-align: left;
  padding: 0 40px;
}

.hr-bottom{
  position: absolute;
  top: 180px;
  left: 50px;
  width: 100px;
}

.card-marchio.design{
  background-color: #A2D39B;
}

.card-marchio.asu{
  background-color: #61082A;
}

.card-marchio.bicycle{
  background-color: #D50020;
}

.card-marchio.hearst{
  background-color: #B3D0E7;
}

.card-marchio.uff{
  background-color: #0093CE;
}

.card-marchio.topps{
  background-color: #FF1C1C;
}

.card-marchio.lonely{
  background-color: #0D2581;
}

.card-marchio.clearchannel{
  background-color: #FFD830;
}

.tryit{
  background-color: #B4D0E7;
}

.tryit .content{
  width: 60%;
  margin: auto;
  display: flex;
  padding: 125px 0;
  justify-content: space-between;
}

.tryit .content h2{
  color: #632336;
  width: 50%;
  text-align: left;

}

.tryit .content .btn{
  border: none;
  line-height: 10px;
  height: 40px;
  width: 300px;
}

/* FAQ */

.faq{
  width: 60%;
  margin: 40px auto;
  text-align: left;
}

.faq h2{
  margin-bottom: 20px;
}

.faq ul li{
  padding: 25px 0;
  border-bottom: 1px solid #CDCDCD;
  position: relative
}

.faq ul :first-child{
  border-top: 1px solid #CDCDCD;
}

.faq ul li i{
  margin-left: 50px;
  position: absolute;
  right:50px
}


/* FOOTER */

footer{
  background-color: black;
  color: #EFF2FC;
  padding-top: 60px;
  width: 100%;
}

.footer-menu{
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid #323540;
}

.menu2{
  width: calc(100% / 5);
}

.footer-menu .menu2 h4{
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
  }

.footer-menu .menu2 ul li{
  padding-bottom: 10px;
}

.footer-menu .menu2 ul a{
  color: white;
  list-style: none;
  font-size: 12px;
}